<section class="section ex-bg-light" id="services">
  <div class="ex-container">
    <div class="row">
      <div class="ex-col-6" data-aos="fade-up" data-aos-delay="200">
        <h5 class="ex-h5 ex-text-light">Nos differents services</h5>
        <h4 class="ex-h2">
          Ici, nous presentons les differents services que Exsodia mets a la disposition des clients.
        </h4>
      </div>
      <div class="ex-col-6 text-justify" data-aos="fade-up" data-aos-delay="250">
        <small class="ex-text-light">
          Diverses industries manufacturières traitent d'une série de modèles, de versions et de lieux avec une forte
          demande pour formation à la production ou clarification des produits. La complexité croissante de l'usinage,
          de la production et la quantité d'informations sur les produits requis sont souvent difficiles pour les
          entreprises industrielles et leur personnel. Avec la technologie <b>EXSODIA AR/MR</b>, le personnel de
          l'industrie en service, logistique et maintenance peut mieux effectuer ses tâches, ce avec des informations
          mains libres et complexes devant ses yeux.
        </small>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12">
          <owl-carousel-o [options]="customOptions" class="ex-carousel">
            <ng-template carouselSlide>
              <div class="service-item">
                <div class="icon">
                  <i><img src="./../../../assets/images/service-icon-01.png" alt=""></i>
                </div>
                <h5 class="service-title">MANUFACTURATION</h5>
                <p class="text-capitalize">DES SOLUTIONS TECHNOLOGIQUES QUI COUVRENT TOUT, DE LA FABRICATION À LA CHAÎNE D'APPROVISIONNEMENT.</p>
                <a href="/manufacturing" class="main-button">Lire plus</a>
              </div>
            </ng-template>

            <ng-template carouselSlide class="service-item">
              <div class="service-item">
                <div class="icon">
                  <i><img src="./../../../assets/images/service-icon-02.png" alt=""></i>
                </div>
                <h5 class="service-title">E-SANTE</h5>
                <p class="text-uppercase">Tirer parti des solutions de soins de santé numériques de haute technologie pour accélérer...!</p>
                <a href="#" class="main-button">En savoir plus</a>
              </div>
            </ng-template>

            <ng-template carouselSlide class="service-item">
              <div class="service-item">
                <div class="icon">
                  <i><img src="./../../../assets/images/icons8-registry-editor-48.png" alt=""></i>
                </div>
                <h5 class="service-title">GESTION DE PROJETS</h5>
                <p class="text-uppercase">Nous avons travaillé à la fois avec des éditeurs de logiciels et des sociétés non logicielles dans des projets...</p>
                <a href="#" class="main-button">Lire plus</a>
              </div>
            </ng-template>
          </owl-carousel-o>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12 text-center mt-5">
        <h4 class="text-uppercase">Avantages de travailler avec nous</h4>

        <h4 class="wordCarousel mt-2">
            <div>
                <ul class="flip5">
                    <li>AGILE DE DÉVELOPPEMENT DISTRIBUÉ</li>
                    <li>DEVOPS ET LIVRAISON CONTINUE.</li>
                    <li>CONNAISSANCES À DÉVELOPPER.</li>
                    <li>QUALITÉ COMPLÈTE.</li>
                    <li>ANALYSE APPROFONDIE DES EXIGENCES.</li>
                    <li>COMMUNICATION TRANSPARENTE.</li>
                </ul>
            </div>
        </h4>
      </div>
    </div>
  </div>
</section>
