<header class="ex-header">
    <div class="ex-container">
        <h2 class="ex-h2">
            <a href="#" class="ex-logo">Exsodia</a>
        </h2>

        <button class="ex-toggle-btn">
            <div class="ex-hamburger">
                <span class="ex-bar"></span>
                <span class="ex-bar"></span>
                <span class="ex-bar"></span>
            </div>
        </button>

        <!--navbar-->
        <nav class="ex-navbar">
            <div class="ex-container">
                <ul class="ex-navbar-list">
                    <li>
                        <a href="#" class="ex-navbar-link active">about</a>
                    </li>
                    <li>
                        <a href="#" class="ex-navbar-link">services</a>
                    </li>
                    <li>
                        <a href="#" class="ex-navbar-link">product</a>
                    </li>
                    <li>
                        <a href="#" class="ex-navbar-link">contacts</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>