$ex-fs-1: 1.563rem;
$ex-fs-2: 1.5rem;
$ex-fs-3: 1.25rem;
$ex-fs-4: 1.078rem;
$ex-fs-5: 1rem;
$ex-fs-6: 0.938rem;
$ex-fs-7: 0.875rem;
$ex-fs-8: 0.844rem;
$ex-fs-9: 0.813rem;
$ex-fs-10: 0.769rem;

$ex-fw-500: 500;
$ex-fw-600: 600;