<header class="header-area header-sticky">
  <div class="ex-container">
      <div class="row">
          <div class="col-12">
              <nav class="main-nav">
                  <a href="#" class="logo">Exsodia</a>
                  <ul class="nav" [ngStyle]="{display: toggle_nav ? 'block' : ''}" >
                      <li class="scroll-to-section"><a (click)="toggle_nav_fn()" href="#welcome" class="active">Acceuil</a></li>
                      <li class="scroll-to-section"><a (click)="toggle_nav_fn()" href="#about">A propos</a></li>
                      <li class="submenu">
                        <a href="javascript:;" (click)="toggle_dopdown_fn()">Services</a>
                        <ul ngClass="{{toggle_dropdown && 'active'}}">
                            <li><a (click)="toggle_dopdown_fn()" href="">Manufacturation</a></li>
                            <li><a (click)="toggle_dopdown_fn()" href="">E-sante</a></li>
                            <li><a (click)="toggle_dopdown_fn()" href="">Gestion de projet</a></li>
                        </ul>
                      </li>

                      <li class="scroll-to-section"><a (click)="toggle_nav_fn()" href="#contact-us">Nous contacter</a></li>
                  </ul>
                  <a class='menu-trigger' ngClass="{{ toggle_nav && 'active'}}" (click)="toggle_nav_fn()">
                      <span>Menu</span>
                  </a>
                  <!-- ***** Menu End ***** -->
              </nav>
          </div>
      </div>
  </div>
</header>
<app-scrool></app-scrool>

<div class="welcome-area" id="welcome">

  <!-- ***** Header Text Start ***** -->
  <div class="header-text">
      <div class="ex-container">
          <div class="row">
              <div class="left-text col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                  <h1>Decouvrez <strong>Exsodia</strong></h1>
                  <p>Simplifiez-vous la vie en passant à la vitesse supérieure, et gardez l'efficacité et la qualité des services.</p>
                  <a href="#contact-us" class="main-button-slider">Nous-contacter</a>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                  <img src="./../assets/images/hero-img.png" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">
              </div>
          </div>
      </div>
  </div>
  <!-- ***** Header Text End ***** -->
</div>

<section class="section" id="about">
  <div class="ex-container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>A propos de nous</h2>
        </div>
      </div>
      <div class="col-lg-12 text-center pb-5">
        <div class="section-heading">
            <em>Nous créons des solutions informatiques faciles à utiliser, faciles à gérer et auxquelles il est facile de faire confiance.</em>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 px-3">
        <h5>NOTRE HISTOIRE</h5>
        <div class="mb-5">
            <p class="text-justify"> <b>EXSODIA</b> a été fondée en 2019 par <strong>Bernard Dadjio</strong>, Ingénieur de formation. La jeune société fonde son cœur de métier dans l’application des technologies les plus innovantes aux besoins spécifiques dans les domaines de la santé, la manufacture et la gestion des programmes et projets.</p>
            <p class="text-justify"> <b>EXSODIA</b> propose par exemple un ingénieux système permettant de visualiser sur site un bâtiment encore en projet : la réalité augmentée extérieure et grandeur nature vient de naître.</p>
            <p class="text-justify">Chaque jour, chez  <b>EXSODIA</b>, nous apprenons continuellement à réduire les erreurs et à augmenter la qualité de nos résultats. Pour que cela se produise, nous devons mieux comprendre les autres et les aider continuellement à s'améliorer au-delà de leur potentiel, de la manière la plus simple possible.</p>
            <a href="#contact-us" class="main-button-slider">Contactez-nous</a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 px-3">
        <h5>NOTRE VISION</h5>
        <p class="text-justify"><strong>EXSODIA</strong> fournit des solutions complètes, de bout en bout pour les entreprises. Grâce à nos solutions de gestion personnalisées combinées à des analyses à grande échelle, la plate-forme <strong>EXSODIA</strong> fournit un déploiement évolutif pour améliorer le potentiel humain et améliorer l'efficacité de la formation avec les dernières technologies.</p>

        <h5>MISSIONS</h5>
        <p class="text-justify">Notre mission est de permettre aux entreprises et particuliers de se déployer et de profiter pleinement des solutions émergentes de réalité virtuelle, de réalité augmentée et d’intelligence artificielle.
          Nous y parvenons en offrant des solutions clés en main complètes. Nous fournissons un déploiement matériel ainsi que des services professionnels via notre équipe technique dédiée, et qualité inégalée des applications développées sur mesure de notre équipe interne incroyablement talentueuse.</p>
      </div>
    </div>
  </div>
</section>

<app-service></app-service>

<app-footer></app-footer>
